@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}


/*
body {
    margin: 0px;
}
*/

.container {
    width: 85%;
/*    height: 620px;*/
    margin: 0px auto;
    border: 1px solid;
}

.container .content {
    width: 80%;
    margin: 0px auto;
/*    margin: 3% 29% 2%;*/
    position: inline-block;
    position: relative;
    font-size: 18px;
    padding-bottom: 10px;
}

.content .submit_btn {
    height: 32px;
/*        width: 80px;*/
/*        padding: 10px;*/
    
   margin-left: 10px;
/*    font-size: 18px;*/
    font-family: kristen ITC;
    font-weight: bold;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.content #input_div {
    height: 32px;
    width: 250px;
    margin-top: 3%;
    margin-left: 28%;
    font-family: kristen ITC;
    position: relative;
/*    font-size: 16px;*/
    font-weight: bold;
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.content input {
    text-indent: 28px;
}

.content .fa {
    position: absolute;
    top: 7%;
    right: 46%;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 2%;
    background: #fcfcfc;
}

table thead tr th {
    width: 50%;
    text-align: center;
    font-family: kristen ITC;
    background: #fcfcfc;
}

.container .plotMap {
    width: 48%;
/*    margin: 1px;*/
    /*    height: 250px;*/
    display: inline-block;
/*    border: 1px solid;*/
/*    padding: 10px;*/
    /*    border-right: 1px solid;*/
    /*    border: 3px solid;*/
}

.plotMap #map {
    height: 400px;
    width: 400px;
    margin: 3% 5%;
    /*    border: 1px solid blue;*/
}
ng-map{
    height: 300px;
}

.container .chart {
    width: 48%;
/*
    height: 400px;
    margin: 2px;
*/
/*    border: 1px solid;*/
/*    padding: 10px;*/
    display: inline-block;
      position: relative;
}

#resizable {
    height: 400px;
    width: 450px;
    margin: 3%;
    overflow: hidden;
/*    padding: 5px;*/
/*    border: 2px dashed #AAA;*/
}

.ng-isolate-scope{
    margin-top: 7%;
}

.chart .graph_detail{
    position: absolute;
    top: 1%;
    left: 30%;
    font-size: 14spx;
    list-style: none;
    
}
.chart .graph_detail li{
    padding: 1px;
    text-align: center;
}


/*Responsive code*/

/*1024px css code*/
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .content .fa {
        right: 33%;
    }
    /*
    .container .plotMap {
        width: 46.5%;
    }
    
    .container .chart {
        width: 46%;
    }
*/
}

/*992px css code*/
@media screen and (max-width: 1023px) and (min-width: 992px) {
    .content .fa {
        right: 30%;
    }
}

/*768px css code*/
@media screen and (max-width: 991px) and (min-width: 768px) {
    .content #input_div {
        width: 172px;
    }
    
    .content input {
        text-indent: 10px;
    }
    
    .content .fa {
        right: 35%;
    }
    .chart .graph_detail {
        top: 5%;
        left: 22%;
        font-size: 12px;
    }
}

/*480px css code*/
@media screen and (max-width: 767px) and (min-width: 480px) {
    .content {
        margin: 3% 16%;
        font-size: 16px;
    }
    
    .content input {
        text-indent: 10px;
    }
    
    .content #input_div {
        width: 170px;
    }
    
    .content .fa {
        right: 35%;
    }
    #map {
        width: 233px;
        margin-left: 2%;
    }
    .chart .graph_detail {
        top: 4%;
        left: 22%;
        font-size: 9px;
    }
    #resizable {
        width: 273px;
        margin-left: 2%;
    }
}

/*320px css code*/
@media screen and (max-width: 479px) and (min-width: 320px) {
    .content {
        margin: 3% 4%;
        font-size: 16px;
    }
    
    .content input {
        text-indent: 5px;
    }
    
    .content #input_div {
        width: 145px;
    }
    
    .content .fa {
        right: 37%;
    }
    #map {
        width: 155px;
        height: 200px;
        margin-left: 2%;
    }
    ng-map {
        height: 200px;
    }
    #resizable {
        width: 203px;
        margin-left: 0%;
        height: 211px;
    }
    .ng-isolate-scope {
        margin-top: 21%;
    }
    .chart .graph_detail {
        top: 5%;
        left: 9%;
    }
}